.main{
    

    background-image: url(https://www.cal-llop.com/wp-content/uploads/fondo-Hotel-Cal-Llop-Priorat-5.jpg);
  margin: 0;
   

}
.Informacion{
    background-image: url(https://www.cal-llop.com/wp-content/uploads/fondo-Hotel-Cal-Llop-Priorat-5.jpg);
  margin: 0;
   
}
.servicios{
    background-image: url(https://www.cal-llop.com/wp-content/uploads/fondo-Hotel-Cal-Llop-Priorat-5.jpg);
    /* margin: -30px; */
}
.parrafo-index{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 27px; 
    margin: 5px 0; 
    font-weight: 400;
    font-style: normal;
    line-height: 1.5; 
}
.title{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
   font-size: 60px;
    font-style: normal;
    font-weight: bold;
    margin: 10px;
}
.parrafo{
    font-size: 18px;
    margin: 30px;
    font-family: sans-serif;
    color: rgb(22, 21, 21);
    font-weight: 500;
 
}
.lista{
    font-size: 25px;
    margin: 10px;
    font-weight: bold;

}
.divinfo{
    /* border: solid 3px rgb(100, 100, 100); */
    
    width: 500px;
    height: 300px;
    display: flex;
    margin: 0px 10px;
    flex-direction: column;
    /* justify-content: center; */
}
.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
  }
  
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
  }

.subtitle{
  
   
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}
.padre{
    margin: 80px;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap;
     */
   
}
.div{
    width: 500px;
    height: 300px;
    display: flex;
    /* justify-content: center; */
    margin: auto auto;
    flex-direction: column;
    
    /* border: solid 3px black; */
}
.icon{
    font-size: 50px;
    margin: 0px  auto;
}

@media (max-width: 1200px) {
    .div{
       width: 300px;
    }
   .icon{
    margin: 0px 90px;
   }
}
@media (max-width: 900px) {
    .padre{
        width: 100%;
        /* margin: 200px; */
        margin: 200px -10px;
    }
    .div{
       width: auto;
       height: 500px;
       /* margin: 200px; */
       /* border: solid 2px black; */
    }
   .icon{
    margin: 0px 90px;
   }
}

@media (max-width: 700px) {
    .padre{
      
        flex-wrap: wrap;
        justify-content: center;
        /* margin: 100px; */

    }
    .div{
        width: 100%;
        margin: 100px;
        text-align: start;
    }
    .title{
        font-size: 35px;
    }
    .parrafo-index {
        font-size: 4vw; 
        margin: 10px 0;
    }
    .icon{
        margin: 0px auto;
    }
   
}

@media(max-width:500px){
    .padre{
        margin: auto;
    }
    .div{
        width: 600px;
        height: 500px;
      margin: auto auto;
      text-align: start;
      /* border: solid 2px black; */
     
 
    }

.title{
    font-size: 2hv;
}
.icon{
   margin: 200px auto;
}
.roboto-thin{
    text-align: center;
    font-size: 2vh;
}
.parrafo-index{
    font-size: 6vw;
}
 
 
}

@media(max-width:1400px){
    .div{
        width: 700px;
        height: 300px;
        margin:0px 1px;
       
       
       
    }
    .title{
        font-size: 49px;
        color: rgb(63, 63, 65);
        font-weight: 400;
    }
    .parrafo-index{
        font-size: 23px;
    }
    .subtitle{
        font-size: 25px;
        
    }
    .icon{
        margin: 10px auto;
        color: rgb(5, 38, 80);
    }
    .roboto-thin{
        font-size: 17px;
    }
}