:root {
  --azul1: #2B3B51;
  --azul2: #3E5F75;
  --azul3: #7AA0B6;
  --azul4: #CBD6E0;
}

.nav{
    background-image: linear-gradient(to left top, #2b3b51, #394c63, #475f76, #567289, #65859c, #7392a8, #819fb5, #8fadc1, #9eb7c9, #adc1d1, #bcccd8, #cbd6e0);
}
.botonLogIn:hover {
  color: white!important; 
  background-color: #7AA0B6!important ;
  border-color: #7AA0B6!important;
}

.imagenModalLogIn {
  max-height: 300px;
  object-fit: cover;
}

.modalLogIn {
 font-family: poppins;
  background-image: url(https://www.cal-llop.com/wp-content/uploads/fondo-Hotel-Cal-Llop-Priorat-5.jpg)!important ;
}

.botonModalLogIn {
  background-color: #074469 !important;
  border:#074469!important ;

}
.botonModalLogIn:hover {
  background-color: #27374D !important;
  border: #27374D!important ;
  color:white;

}
 .modalTitleTipografia {
  font-family: poppins;
  font-size: 1.5rem;
 }

 .imgFondo{
  background-image: url(https://www.cal-llop.com/wp-content/uploads/fondo-Hotel-Cal-Llop-Priorat-5.jpg);
 }