.habitacion{
    display: flex;
    width: 1200px;
     border-radius: 20px;
  border: solid 1px rgb(141, 140, 140);
  box-shadow: 1px 1px 1px 1px  rgb(90, 90, 89);
  margin: 40px auto;
  
}
.habitacion:hover{
    box-shadow :2px 3px 3px 2px  rgb(90, 90, 89);
}
.reservado{
    text-align: center;
    color: rgb(10, 9, 9);
    background-color: red;
    border-radius: 20px;
    margin: 10px;
    width: 100px;
    padding: 10px 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(255, 253, 250);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
  
    font-style: normal;
}
.restricion{
    color: rgb(207, 129, 129);
    font-family: sans-serif;
    font-weight: bold;
}
.no-reservado{
   text-align: center;
    background-color: rgb(47, 100, 31);
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    padding: 10px 5px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    color: rgb(255, 253, 250);
}
.box{ 
  
    width: 500px ;
    /* border: solid 3px black; */
    /* margin: 0px 20px; */
    height: 300px;
    
   
}
.img-reserva{
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
.fecha{
    font-weight: bold;
    color: rgb(141, 28, 28);
}

.pc{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}
.title{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    margin: 25px;
    font-size: 30px;
}
.precio{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-size: 40px;
    margin: 30px;
}
.oferta{
    border: none;
    background-color: rgb(240, 173, 30);
    padding: 10px 8px;
    /* border: solid 2px rgb(141, 138, 138); */
    width: 300px;
    font-family: sans-serif;
    font-weight: bold;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    margin: 20px;
}
.ph{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-size: 17px;
    font-style: normal;
}
@media (max-width: 1330px) {
    .habitacion{
    flex-direction: row; /* Apila los elementos verticalmente */
    margin: 10px 200px;
    
    width: auto;
    height: auto;


   
}
.box{
    height: auto;
}
.img-reserva{
width: auto;
height: 250px;
}
.title{
    font-size: 2vh;
}
.oferta{
    width: 170px;
    height:50px ;
    margin: -20px;
}

}
@media (max-width: 1000px) {
    .habitacion{
    flex-direction: row; /* Apila los elementos verticalmente */
    margin: 20px auto;
    padding: 10px;
    width: auto;
    height: auto;
    

   
}
.box{
    height: auto;
}
.img-reserva{
width: 240px;
height: 250px;
}
.title{
    font-size: 2vh;
}
.oferta{
    width: 170px;
    height:50px ;
    margin: -20px;
}
.reservado{
    margin: 1px;
}
.no-reservado{
    margin: 1px;
}
}
@media (max-width: 768px) {
    .habitacion{
        flex-direction: row; /* Apila los elementos verticalmente */
        margin: 20px auto;
        padding: 10px;
        width: auto;
        height: auto;
    
       
    }
    .precio{
        font-size: 30px;
        margin: 0px;
    }
    .restricion{
        font-size: 12px;
    }
    .ph{
        font-size: 15px;
    }
    .box{
        height: auto;
        font-size: 1vh;
    }
    .img-reserva{
    width: 370px;
    height: 250px;
    margin: 0px auto;
    }
    
    .title{
        font-size: 23px;
    }
    .oferta{
        width: 80px;
        height:40px ;
        /* margin: -20px; */
        font-size: 12px;
        font-family: sans-serif
    }
    .solicitar{
        height: auto;
        font-size: 10px;
        margin: 0px;
    }
    .canselar{
        height: auto;
        font-size: 10px;
        margin: 0px;
    }
    .no-reservado{
        width: 70px;
        padding: 6px;
        margin: 0px;
        font-size: 8px;
    }
    .reservado{
        width: 70px;
        padding: 6px;
        margin: 0px;
        font-size: 8px;
    }
}
@media (max-width: 500px) {
    .habitacion{
    flex-direction: row; /* Apila los elementos verticalmente */
    margin: 20px auto;
    padding: 10px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
   
}
.precio{
    font-size: 30px;
    margin: 0px;
}
.restricion{
    font-size: 12px;
}
.ph{
    font-size: 15px;
}
.box{
    height: auto;
    font-size: 1vh;
}
.img-reserva{
width: 370px;
height: 250px;
margin: 0px auto;
}

.title{
    font-size: 23px;
}
.oferta{
    width: 80px;
    height:40px ;
    /* margin: -20px; */
    font-size: 12px;
    font-family: sans-serif
}
.solicitar{
    height: auto;
    font-size: 10px;
    margin: 0px;
}
.canselar{
    height: auto;
    font-size: 10px;
    margin: 0px;
}
.no-reservado{
    width: 70px;
    padding: 6px;
    margin: 0px;
    font-size: 8px;
}
.reservado{
    width: 70px;
    padding: 6px;
    margin: 0px;
    font-size: 8px;
}
}
