.carouseltitle{
    text-align: start;
    font-family: sans-serif;
    font-size: 87px;
    font-weight: bold;
    margin: 10px;
}
.carousel-inner{
height: 700px;
}
.gridflex{
    margin: -500px;
}
.disfruta {
    padding: 2vw 1vw; 
    width: auto;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    height: 15vh; 
    margin: 40vh auto; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    
}
.carouselsubtitle{
     color: rgb(53, 52, 52);
      font-size: 40px;
      font-weight: bold;
      font-family: sans-serif;
      margin: 0px 0px;
}
.img-carousel{
border-radius: 1px;
}
.explora{
    /* margin: 0px 20px; */
    border: none;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 24px;
    /* padding: 5px; */
   width: auto;
   color: white;
   margin: 0px 0px;
   height: 70px;
    border-radius: 50px;
    background-color: rgb(53, 64, 117);
}
@media (max-width: 700px) {
    .carouseltitle {
        font-size: 65px; 
    }
    .carousel-inner{
      width: 100vh;
      height: 800px;
    }
    .img-carousel{
        height: 800px;
    }
    .carouselsubtitle {
      font-size: 26px;
    }

    .explora {
       /* width: 100px; */
       font-size: 20px;
    }

    .disfruta {
        padding: 10vw 2vw;
        height: 10vh;
        /* width: 100vh; */
        margin: 5vh auto; 
    }
}