.plato{
    width: 600px ;
    height: 700px;
    margin: 60px 0px;


}
.sectionrestaurante{
    margin: -150px;
}
.div-restaurante{
    margin: 0px 70px;
    text-align: start;
}
li{
   
     font-family: sans-serif;
     font-weight: 500;
     margin: 10px;
    font-optical-sizing: auto;

   font-size: 20px;
    font-style: normal;

}
.titulo-restaurante{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
      font-weight: 600;
    font-style: normal;
    margin: 10px;
}
.source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
 
    font-style: normal;
  }
  


.restaurante{
    width: 1300px;
    height: 700px;
    /* margin: -500px 100px; */
    display: flex;
    
    /* justify-content: space-around; */
    /* border: solid 3px rgb(99, 99, 96); */
}
.imgrestaurante{
    border-radius: 20px;
    width: 1200px;
    height: 600px;
    margin: 10px 100px;
    border-radius: 20px;

   
}
.imgdescanso{
    margin: 100px;
}
.restaurante{
    margin: -100px;
    text-align: center;
}
.parrafo-restaurante{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
        font-size: 23px;
        font-weight: 500;
        margin: 10px;
    font-style: normal;  
}
.imgrestaurante{
    width: 600px;
    height: 400px;

}
.img{
    height: 400px ;
    width: 550px;
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;


}

.titlesazon{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
        font-size: 60px;
        margin: 30px;
    font-style: normal;
}
